*{
    overflow: auto;
    background-color:#000;
    color:#FFF;
    margin-top: 0px;
}
.topbox{
    background-color: #000;
    display: flex;
    justify-content: flex-start;
    position:fixed;
    z-index: 2;
    width: 100%;
}
.topmenu{
    background-color:rgba(255,255,255,0.5);
    border:5px solid #C00;
    color:#F00;
    font-size:30px/*=150%*/;
    margin:10px;
}
a:link{
	text-decoration: none;
			}
section{
    position:absolute;
    top:70px;
    margin-right: 0px;
    margin-left: 10%;
    background-color: rgba(0,0,0,1)
            }
/*
    포지션이 absolute일때 중앙 정렬
        left의 값을 50% 으로 잡기
        margin-left의 값을 정렬하려는 div등의 넓이값/2 나누고 음수(-)값을 입력
*/
nav{
    float: right;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 5;
    width: 260px;/*auto=520px*/
    height: auto;/*auto=605px*/
            }
            p{
    font-size: 20px;
            }
            table{
font-size: 20px;
font-style: normal;
            }
            ul{
                font-size: 20px;
            }
            th{
text-align: center;
            }