*{
    overflow: auto;
    background-color:#000;
    color:#FFF;
    margin-top: 0px;
}
.topbox{
    background-color: #000;
    display: flex;
    justify-content: flex-start;
    position:fixed;
    z-index: 2;
    width: 100%;
}
.topmenu{
background-color:rgba(255,255,255,0.5);
border:5px solid #C00;
color:#F00;
font-size:30px;
margin:10px;
}
a:link{
				text-decoration: none;
			}